.rndBackground {
    min-height: 100vh;
    background: #2e1a13;
    display: flex;
    flex-direction: column;
}

.rndContainer {
    max-width: 100%;
    margin: 100px auto 0 auto;
    padding: 32px;
    color: #BAB1AB;
    font-family: 'Erstoria', serif;
}

.rndHeading {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.textSection {
    max-width: 1200px;
    margin: 0 auto 2rem auto;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: left;
}

.centerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.image {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}