.rndBackground {
    min-height: 100vh;
    background: #2e1a13;
    display: flex;
    flex-direction: column;
}

.rndContainer {
    max-width: 100%;
    margin: 100px auto 0 auto;
    padding: 32px;
    color: #BAB1AB;
    font-family: 'Erstoria', serif;
}

.rndHeading {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.textSection {
    color: #BAB1AB;
    font-family: 'Erstoria';
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

.contentWrapper {
    max-width: 1400px;
    width: 100%;
    margin-top: 70px;
}

.contentWrapper::after {
    content: "";
    clear: both;
    display: table;
}

.imageSection {
    width: 45%;
    max-width: 500px;
    float: left;
    margin-right: 48px;
    margin-bottom: 1rem;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}