.myButton {
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Erstoria', serif;
    cursor: pointer;
    transition: background 0.2s;
}

.myButton:hover {
    color: #a0522d;
}