.myButton2 {
    color: #fff;
    border: none;
    padding: 0.6rem 1.3rem;
    border-radius: 4px;
    /* Smaller font for button */
    font-family: 'Erstoria', serif;
    cursor: pointer;
    transition: background 0.2s;
    background: none;
}

.myButton2:hover {
    color: #000000;
}