.carouselWrapper {
    max-width: 900px;
    margin: 40px auto;
    border-radius: 12px;
    padding: 8px;
}

.carouselWrapper :global(.slick-slide > div) {
    height: 500px;
}

.imageContainer {
    height: 100%;
    position: relative;
}

.carouselWrapper :global(.slick-slide) {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: scale(0.8);
    opacity: 0.6;
}

.carouselWrapper :global(.slick-center) {
    transform: scale(1);
    opacity: 1;
}

.carouselWrapper :global(.slick-arrow::before) {
    display: none;
}

.carouselWrapper :global(.slick-prev) {
    left: -40px !important;
    z-index: 3;
}

.carouselWrapper :global(.slick-next) {
    right: -30px !important;
    z-index: 3;
}