.storyContainer {
    min-height: 100vh;
    background: #2e1a13;
    padding: 120px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

.heading {
    position: absolute;
    top: 100px;
    left: 130px;
    font-family: 'Erstoria';
    font-size: 40px;
    font-weight: 500;
    color: #d1c1b2;
    letter-spacing: 1px;
    text-align: left;
    z-index: 20;
    margin-top: 40px;
}

.subheading {
    text-align: left;
    font-family: 'Erstoria';
    font-size: 32px;
    font-weight: 500;
    color: #d1c1b2;
    margin: 48px 0 8px 0;
    margin-left: 48px;
}

.smallerSubheading {
    text-align: left;
    font-family: 'Erstoria';
    font-size: 20px;
    font-weight: 400;
    color: #d1c1b2;
    margin: 0 0 24px 0;
    margin-left: 48px;
}

.contentWrapper {
    max-width: 1400px;
    width: 100%;
    margin-top: 70px;
}

.contentWrapper::after {
    content: "";
    clear: both;
    display: table;
}

.contentWrapper+.contentWrapper {
    margin-top: 100px;
}

.textSection {
    color: #d1c1b2;
    font-family: 'Erstoria';
    font-size: 24px;
    line-height: 1.625;
    text-align: left;
    padding-left: 0;
}

.textSection p {
    margin-bottom: 1rem;
}

.imageSection {
    width: 45%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.imageOnLeft {
    float: left;
    margin-right: 48px;
}

.imageOnRight {
    float: right;
    margin-left: 48px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.subheadingWrapper {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}