.rndBackground {
    min-height: 100vh;
    background: #2e1a13;
    display: flex;
    flex-direction: column;
}

.rndContainer {
    max-width: 100%;
    margin: 0 auto 0 auto;
    padding: 32px;
    color: #BAB1AB;
    font-family: 'Erstoria', serif;
}

.rndHeading {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.contentWrapper {
    max-width: 1200px;
    width: 100%;
    margin: 8px auto 0 auto;
}

.textSection {
    width: 100%;
    max-width: 100%;
    color: #BAB1AB;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: left;
    font-family: 'PT Serif', serif;
    padding-left: 0;
    margin: 0;
}